// .section1 {
//   height: 300px;
//   //   border: blue 2px solid;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .section1-title {
//   font-size: 32px;
//   //   border: red 2px solid;
//   margin-bottom: 5px;
//   font-family: $fontTitle;
//   color: $colorText;
//   @media all and (min-width: 768px) {
//     font-size: 50px;
//   }
// }
// .section1-subtitle {
//   //   border: red 2px solid;
//   font-size: 16px;
//   font-family: $fontTitle;
//   color: $colorText;
//   @media all and (min-width: 768px) {
//     font-size: 24px;
//   }
// }
.heroText {
  position: absolute;
  margin: 10vw;
  width: 80vw;
  top: 20vh;
  text-align: center;
  @media all and (min-width: 768px) {
    width: 56vw;
    margin-left: 23vw;
    margin-right: 23vw;
    margin-top: 150px;
    top: 10vh;
  }
  @media all and (min-width: 1280px) {
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
  }
}

.preTitle {
  letter-spacing: 0.15em;
  animation-name: appear;
  animation-timing-function: ease;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    color: blue;
  }
  to {
    color: coral;
  }
}

.typewriter {
  font-size: 32px;
  overflow: hidden;
  border-right: 0.15em solid pink;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

.photoMe {
  height: 200px;
  margin: 30px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media all and (min-width: 768px) {
    height: 200px;
    width: 200px;
  }
  @media all and (min-width: 1280px) {
    height: 20vw;
    width: 20vw;
  }
}
.fontPreTitle {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
  @media all and (min-width: 1280px) {
    font-size: 32px;
  }
}

.fontTitle {
  color: blue;
  font-size: 24px;
  font-weight: bold;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
  @media all and (min-width: 1280px) {
    font-size: 32px;
  }
}
