body {
  min-width: 100%;
}

.section1 {
  height: 300px;
  //   border: blue 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1-title {
  font-size: 32px;
  //   border: red 2px solid;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  color: #454545;
  @media all and (min-width: 768px) {
    font-size: 50px;
  }
}
.section1-subtitle {
  //   border: red 2px solid;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #454545;
  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}

.section2 {
  height: 600px;
  // height: 500px;
  background-color: #87b2b2;
  //   border: red 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guitar1 {
  width: 512px;
  height: 150px;
  transform: translate(0, -120%);
  margin-top: 55px;
  @media all and (min-width: 768px) {
    width: 100vw;
    height: 150px;
    transform: translate(0, -160%);
  }
  @media all and (min-width: 1200px) {
    width: 100vw;
    height: 250px;
    transform: translate(0, -110%);
  }
}
// .guitar2 {
//   width: 100vw;
//   height: 300px;
//   transform: translate(0, -35%);
// }
.aboutme {
  // border: red 2px solid;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  transform: translate(0, -20%);
  @media all and (min-width: 768px) {
    flex-direction: row;
    transform: translate(0, -100px);
  }
}
.profile {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  // border: red 2px solid;
  @media all and (min-width: 768px) {
    width: 300px;
    height: 300px;
  }
}

.description {
  //   border: red 2px solid;
  padding: 10px;
  width: 370px;
  text-align: justify;
  margin: 10px;
  font-family: "Roboto Slab", serif;
  color: #454545;
  font-size: 14px;
  @media all and (min-width: 768px) {
    width: 500px;
  }
}
.section3 {
  min-width: 100%;
  // height: 500px;
  // border: red 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  // @media all and (min-width: 768px) {
  //   height: 300px;
  // }
  // @media all and (min-width: 1200px) {
  //   height: 300px;
  // }
}

.section3-title {
  background-color: #87b2b2;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -60%);
  font-family: "Montserrat", sans-serif;
}

.section3-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 60px;
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }
}
.skills {
  width: 70px;
  height: 70px;
  margin: 12px;
}

.section4 {
  background-color: #f5f7f8;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  // @media all and (min-width: 768px) {
  //   height: 100vh;
  // }
  // @media all and (min-width: 1200px) {
  //   height: 700px;
  // }
}
.section4-text {
  background-color: #f5f7f8;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -100%);
  font-family: "Montserrat", sans-serif;
  color: #393636;
  // @media all and (min-width: 1200px) {
  //   transform: translate(0, -200%);
  //   background-color: red;
  //   width: 300px;
  //   height: 50px;
  // }
}
.section4-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  @media all and(min-width:1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 60px;
  }
}
.project {
  width: 350px;
  height: 210px;
  margin: 10px;
  @media all and(min-width:768px) {
    width: 450px;
    height: 300px;
    margin: 15px;
  }
  @media all and(min-width:1200px) {
    margin: 30px;
  }
}
.project:hover {
  transform: scale(1.1);
  opacity: 0.6;
}
.contact {
  // height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px;
  @media all and (min-width: 1200px) {
    margin-bottom: 100px;
  }
}
.contact-title {
  background-color: #f5f7f8;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -200%);
  font-family: "Montserrat", sans-serif;
  color: #393636;
}
.form {
  width: 450px;
  // height: 340px;
  // border: #87b2b2 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 50px;
  // @media all and (min-width: 768px) {
  //   width: 500px;
  //   height: 390px;
  // }
}

.form--fieldSpace {
  width: 450px;
  height: 50px;
  border: 1px solid #ced4da;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.form--fieldSpace__mailphone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  @media all and (min-width: 768px) {
    flex-direction: column;
  }
}

.form--fieldSpace__phone {
  width: 225px;
  font-family: "Montserrat", sans-serif;
  @media all and (min-width: 768px) {
    width: 450px;
    height: 50px;
  }
}
.form--fieldSpace__mail {
  width: 210px;
  font-family: "Montserrat", sans-serif;
  @media all and (min-width: 768px) {
    width: 450px;
    height: 50px;
    margin-bottom: 10px;
  }
}
.form--fieldSpaceComment {
  width: 450px;
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.form--button {
  width: 300px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #87b2b2;
  color: #87b2b2;
  font-family: "Roboto Slab", serif;
}
.form--button:hover {
  background-color: #87b2b2;
  color: white;
}
