// fonts
$fontText: "Roboto Slab", serif;
$fontTitle: "Montserrat", sans-serif;

// colors
$blue: #87b2b2;
$white: white;
$grey: #f5f7f8;
$formBorder: #ced4da;
$colorText: #454545;
$colortItem: #393636;
